body{
    background:black;
}

img{
    max-width:100%;
    height:auto;
}

#title{
    display:none;
}

#title2{
    display:none;
}

#title3{
    display:none;
}

#introPage{

    margin-top:5%;
    background:black;
    color:white;
}

#bar{
    background:red;
    height:100%;
}
