body{
    background:black;
}

#title{
    display:none;
}

#title2{
    display:none;
}

#title3{
    display:none;
}

#introPage{

    margin-top:20%;
    background:black;
    color:white;
}

#bar{
    background:red;
    height:100%;
}
