
         <div class="row">
             <div class="col-md-12 text-center">

                 <h1>Blog Archive</h1>
             </div>
         </div>
         <hr>

                <div>
                <div class="row"  ng-repeat="post in allPosts">
                    <div class="col-md-12 text-center">
                        <img class="img-circle" src='/assets/{{post.name}}Edit.png' style="width:120px">
                        <hr style="width:50%">

                        <h3>{{post.title}} - Episode {{post.episode}}</h3>
                        <p><i>{{post.name==="connor"?"Connor Lloyd Falkner":"Christopher Borges"}}</i></p>
                        <p style="margin-top:2%" ng-bind-html="post.text"></p>

                         <a ng-href='/posts/{{post.episode}}/{{post.name}}'>Continue Reading</a>
                     </div>



                     <!--<div class="col-md-6 text-center">
                         <img class="img-circle" src="/assets/connorEdit.png" style="width:120px">
                         <hr style="width:50%">
                         <h3><%- allPosts[i].title%></h3>
                         <p><i>Connor Lloyd Falkner</i></p>
                         <p style="margin-top:5%">
                            <%- allPosts[i].text%>
                         </p>
                          <a href='/posts/<%- allPosts[i].episode%>/connor'>Continue Reading</a>
                     </div>
                 </div> -->


</div>
</div>
