 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Episodes</title>


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/episodes.css">

    <nav class="navbar navbar-default navbar-static-top  ">
      <div class="container">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>

           </div>
           <div class = "navbar-collapse collapse" id = "myNavbar">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/home">Home</a></li>
                  <li><a href="/views/about.html">About</a></li>
                  <li><a href="/archive">Blog</a></li>
                  <li><a href="/episodes">Episodes</a></li>
                  <li><a href="/zachAttack">Zach Attack</a></li>

              </ul>
          </div>
      </div>
    </nav>
 </head>

 <body>
     <div class="container">
         <div class="row">
             <div class="col-md-12 text-center">
                 <img src='/assets/spookyEdit.jpg' style="height:127px">
                 <h1>Episodes</h1>
             </div>
         </div>
         <hr>

         <div class="row">
             <div class="col-md-12 text-center">
                 <h2><a href="https://www.youtube.com/channel/UCgosJkbL2z9b_Aye1tn8iVQ">Check out our YouTube channel!</a></h2>
                 <h3><a href="https://www.youtube.com/watch?v=a_k4RgzlHqM">Episode 4.5</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=uAaqEcMF5Pg">Episode 4</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=Ps_ANUPRPRA">Elevator Madness!</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=Ud7ov7mQObM">Connor Becomes a Believer!</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=XniTlm4lGzg">Emergency Update!</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=XTHZZW6E5Xs">Episode 3</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=iYVM2Lz7EX8">Episode 2</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=3k9M195DOhY">Episode 1.5</a></h3>
                 <h3><a href="https://www.youtube.com/watch?v=fylPL4au1Cs">Episode 1</h3>

             </div>
         </div>


     </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </body>

 </html>
