 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>About Us</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

<nav class="navbar navbar-default navbar-static-top  ">
  <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>

       </div>
       <div class = "navbar-collapse collapse" id = "myNavbar">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="home.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="/archive">Archive</a></li>

          </ul>
      </div>
  </div>
</nav>

 </head>

 <body>
     <div class="container">
         <div class = "row">
             <div class = "col-md-12 text-center">
                 <h1 style="margin-top:10%">About us</h1>
             </div>
         </div>
         <hr>
         <div class="row">
             <div class="col-md-3 text-center">
                 <img class="img-circle" src="chrisEdit.png">
             </div>

             <div class = "col-md-6 text-center">
                 <h1>Christopher Borges</h1>
                 <p style="margin-top:7%">
                     In a recent job interview I was asked to describe myself in five words. I said “scientist, visionary, writer, Taurus, and musician” in that order. I’m Christopher Borges, I’m a Film/Philosophy/English triple major taking a few gap years while I find myself and explore the supernatural.
                 </p>
                 <p>
                     When I’m not filming, I’m reading, writing, lifting, or playing with my The Dresden Dolls cover band called “The Maybe Virginias.” I love cats, coffee, the Legend of Zelda, and open mindedness.
                 </p>
             </div>
         </div>
         <hr>

         <div class="row" >
              <div class="col-md-3 text-center">
                  <img class="img-circle" src="connorEdit.png">
              </div>

              <div class = "col-md-6 text-center">
                  <h1>Connor Lloyd Falkner</h1>
                  <p style="margin-top:7%">
                      Connor is a Political Science major, currently best known for his work saying “actually” a lot at parties. Prior to joining an occult investigation team, Connor considered a career in comedy before realizing that no one else would ever find him as funny as he finds himself. When Connor isn’t busy expanding the frontiers of modern day skepticism, he enjoys writing descriptions of himself in the third person, going to the gym (CAN YOU TELL?), and managing the University of Central Florida’s 14th best non-competitive bar trivia team.
                  </p>

              </div>
         </div>
         <hr>

         <div class="row">
              <div class="col-md-3 text-center">
                  <img class="img-circle" src="mysteryEdit.png">
              </div>

              <div class = "col-md-6 text-center">
                  <h1>Zachary Rodriguez</h1>
                  <p style="margin-top:7%">
                      I don't know man, I'm just here for the paycheck. They told me they'd pay me if I filmed them trying to summon some spirits or something, so I agreed. It turned into me doing all the work while they act like idiots on camera, which i guess is fine by me since I at least dont have to show my face.
                  </p>
                <p>
                    I also made the website, someone please hire me.
                </p>
              </div>
         </div>
     </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </body>

 </html>
