 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>The Spooking Hour</title>


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

     <nav class="navbar navbar-default navbar-static-top  ">
       <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div class = "navbar-collapse collapse" id = "myNavbar">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="/views/home.html">Home</a></li>
                   <li><a href="/views/about.html">About</a></li>
                   <li><a href="/archive">Archive</a></li>

               </ul>
           </div>
       </div>
     </nav>

 </head>

 <body>


     <div class="container">
         <div class = "row">
             <div class="col-md-3"></div>
             <div class="col-md-6 text-center" id="episode">
                 <img src='/assets/spookyEdit.jpg' style="height:127px">
                 <div class="embed-responsive embed-responsive-16by9">
                     <iframe  src="https://www.youtube.com/embed/XTHZZW6E5Xs" frameborder="0" allowfullscreen></iframe>
                </div>
                 <p>Check out the latest episode, Hide and Spook!</p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row" style="margin-bottom:10%">
            <div class="col-md-6 text-center blog">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus magna sed ultrices dictum. Vivamus interdum magna vel nibh tempus tincidunt. Pellentesque arcu mi, aliquam at molestie quis, lobortis sit amet metus. Integer non aliquam arcu. Proin finibus ligula ac ante iaculis egestas. Duis convallis maximus velit eget volutpat. Quisque mollis scelerisque ullamcorper. Nulla tempor libero suscipit massa viverra, vitae finibus elit ornare. Duis laoreet risus eu elit bibendum rutrum. Maecenas id nibh a sapien facilisis fermentum sit amet quis leo. Praesent dapibus erat dictum sem ullamcorper, sollicitudin vehicula erat feugiat...</p>
                <p>Continue Reading</p>
            </div>

            <div class="col-md-6 text-center blog">
                <h1>Also Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus magna sed ultrices dictum. Vivamus interdum magna vel nibh tempus tincidunt. Pellentesque arcu mi, aliquam at molestie quis, lobortis sit amet metus. Integer non aliquam arcu. Proin finibus ligula ac ante iaculis egestas. Duis convallis maximus velit eget volutpat. Quisque mollis scelerisque ullamcorper. Nulla tempor libero suscipit massa viverra, vitae finibus elit ornare. Duis laoreet risus eu elit bibendum rutrum. Maecenas id nibh a sapien facilisis fermentum sit amet quis leo. Praesent dapibus erat dictum sem ullamcorper, sollicitudin vehicula erat feugiat...</p>
                <p>Continue Reading</p>
            </div>
        </div>


     </div>




     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </body>

 </html>
