 <!DOCTYPE html>
 <html lang="en">

<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>The Spooking Hour</title>


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

     <nav class="navbar navbar-default navbar-static-top  ">
       <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <div class = "navbar-collapse collapse" id = "myNavbar">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="/home">Home</a></li>
                   <li><a href="/views/about.html">About</a></li>
                   <li><a href="/archive">Blog</a></li>
                   <li><a href="/episodes">Episodes</a></li>

               </ul>
           </div>
       </div>
     </nav>

 </head>

 <body>


     <div class="container">
         <div class = "row">
             <div class="col-md-3"></div>
             <div class="col-md-6 text-center" id="episode">
                 <img src='/assets/spookyEdit.jpg' style="height:127px">
                 <div class="embed-responsive embed-responsive-16by9">
                     <iframe width="854" height="480" src="https://www.youtube.com/embed/XniTlm4lGzg" frameborder="0" allowfullscreen></iframe>
                </div>
                 <p>Supposed activity picked up by the boo buddy.</p>
                 <p>Please just humor Chris, he doesnt have a lot going on in his life right now.</p>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
            <img class="img-circle" src="/assets/chrisEdit.png" style="width:120px">
                <hr style="width:50%">

                <h3><%- chrisTitle%></h3>
                <p><i>Christopher Borges</i></p>
                <p>
                    <%- chrisText%>
                </p>
                 <a href='/posts/3/chris'>Continue Reading</a>
             </div>



             <div class="col-md-6 text-center">
                 <img class="img-circle" src="/assets/connorEdit.png" style="width:120px">
                 <hr style="width:50%">
                 <h3><%- connorTitle%></h3>
                 <p><i>Connor Lloyd Falkner</i></p>
                 <p>
                    <%- connorText%>
                 </p>
                  <a href='/posts/3/connor'>Continue Reading</a>
             </div>
         </div>


     </div>




     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 </body>

 </html>
